<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%- include('partials/nav') -%>
        <h1> Sample website to test out some node! </h1>
        <p> test test test test testerino </p>
    </body>
</html>